@model ProfileViewModel

<div class="container">
	<div class="row gutters">
		<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
			<div class="card mb-4 mb-xl-0" style="background-color: #d3d8dd">
				<div class="card-header">
					Foto de Perfil
				</div>
				<div class="card-body text-center">
					<img class="img-account-profile rounded-circle mb-2 w-100" src="@Model.Photo" alt="@Model.FullName" draggable="false">

					<form method="post" id="upload-form" name="upload-form" enctype="multipart/form-data" asp-controller="Profile" asp-action="UploadImage">
						<input type="file" name="file" id="file" accept="image/png, image/gif, image/jpeg" hidden onchange="submitImage()" />
					</form>

					<br />
					<label for="file" class="btn btn-primary">Carregar nova imagem</label>
					<div class="small font-italic text-muted mb-4">PNG, JPG e GIF</div>
				</div>
			</div>
		</div>
		<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
			<div class="container text-danger">
				@Html.ValidationSummary()
			</div>

			<div class="card h-100">
				<div class="card-body">
					<form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="Update">
						<div class="row gutters">
							<input type="hidden" asp-for="Photo" />
							<input type="hidden" asp-for="Id" />

							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<h6 class="mb-2 text-primary">Informações Pessoal</h6>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label asp-for="FullName"></label>
									<input asp-for="FullName" type="text" class="form-control" placeholder="Digite o nome completo">
									<span asp-validation-for="FullName" class="text-danger"></span>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label asp-for="BirthDate"></label>
									<input asp-for="BirthDate" type="date" class="form-control" />
									<span asp-validation-for="BirthDate" class="text-danger"></span>
								</div>
							</div>

							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label asp-for="PhoneNumber"></label>
									<input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="Digite o número do celular">
									<span asp-validation-for="PhoneNumber" class="text-danger"></span>
								</div>
							</div>
						</div>

						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<h6 class="mt-3 mb-2 text-primary">Informações Empresarial</h6>
							</div>

							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label asp-for="Email"></label>
									<input asp-for="Email" type="email" class="form-control" placeholder="Digite o email" disabled>
									<span asp-validation-for="Email" class="text-danger"></span>
									<input asp-for="Email" type="hidden">
								</div>
							</div>

							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label asp-for="TelephoneExtension"></label>
									<input asp-for="TelephoneExtension" type="number" class="form-control" placeholder="Digite o seu ramal">
									<span asp-validation-for="TelephoneExtension" class="text-danger"></span>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label asp-for="AM"></label>
									<input asp-for="AM" type="number" class="form-control" placeholder="Digite o número do AM">
									<span asp-validation-for="AM" class="text-danger"></span>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label asp-for="DepartmentId"></label>
									<select asp-for="DepartmentId" class="btn border-dark dropdown-toggle col-12" asp-items="ViewBag.DepartmentId"></select>
								</div>
							</div>
						</div>
						<br />

						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<h6 class="mb-2 text-primary">Alterar Senha</h6>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label asp-for="NewPassword">Nova Senha</label>
									<input asp-for="NewPassword" name="newPassword" type="password" class="form-control" id="newPassword">
									<span validation-for="newPassword" class="text-danger"></span>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label asp-for="NewPassword">Repitir Senha</label>
									<input asp-for="NewPassword" type="password" class="form-control" id="repeatPassword" />
								</div>
							</div>
						</div>
						<br />

						<div class="row gutters">
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label asp-for="Password"></label>
									<input asp-for="Password" type="password" class="form-control" />
									<span asp-validation-for="Password" class="text-danger"></span>
								</div>
							</div>
						</div>
						<br />

						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="text-right">
									<button type="submit" class="btn btn-primary">Atualizar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@*Upload Image*@
<script type="text/javascript">
	function submitImage() {
		$("#upload-form").submit();
	}
</script>

@*Repeat Password*@
<script>
	var newPassword = document.getElementById("newPassword")
		, repeatPassword = document.getElementById("repeatPassword");

	function validatePassword() {
		if (newPassword.value != repeatPassword.value) {
			repeatPassword.setCustomValidity("As Senhas não Coincidem!");
		} else {
			repeatPassword.setCustomValidity('');
		}
	}

	newPassword.onchange = validatePassword;
	repeatPassword.onkeyup = validatePassword;
</script>

<style>
	.account-settings .user-profile {
		margin: 0 0 1rem 0;
		padding-bottom: 1rem;
		text-align: center;
	}

		.account-settings .user-profile .user-avatar {
			margin: 0 0 1rem 0;
		}

			.account-settings .user-profile .user-avatar img {
				width: 90px;
				height: 90px;
				-webkit-border-radius: 100px;
				-moz-border-radius: 100px;
				border-radius: 100px;
			}

		.account-settings .user-profile h5.user-name {
			margin: 0 0 0.5rem 0;
		}

		.account-settings .user-profile h6.user-email {
			margin: 0;
			font-size: 0.8rem;
			font-weight: 400;
			color: #9fa8b9;
		}

	.account-settings .about {
		margin: 2rem 0 0 0;
		text-align: center;
	}

		.account-settings .about h5 {
			margin: 0 0 15px 0;
			color: #007ae1;
		}

		.account-settings .about p {
			font-size: 0.825rem;
		}

	.card {
		background: #ffffff;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border: 0;
		margin-bottom: 1rem;
	}
</style>