@model AlvesMello_IntraNet.Models.Category

@{
	ViewData["Title"] = "Adicionar Categoria";
}

<h1>Adicionar Categoria</h1>

<hr />

<div class="container">
	<div class="row">
		<div class="col-12">
			<form asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger" />
				<div class="form-group d-flex">
					<div>
						Cor
						<input asp-for="Color" type="color" class="form-control form-control-color" title="Escolha a cor" />
						<span asp-validation-for="Color" class="text-danger"></span>
					</div>
					<div class="col-11">
						<label asp-for="Name" class="control-label"></label>
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
				</div>

				<div class="form-group col-12">
					<label asp-for="Description" class="control-label"></label>
					<textarea asp-for="Description" class="form-control" rows="8"></textarea>
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
				<br />

				<div class="col-12">
					<div class="d-flex">
						<div class="col-1">
							<div class="form-group">
								<input type="submit" value="Adicionar" class="btn btn-primary" />
							</div>
						</div>
						<div class="col-1">
							<div>
								<a class="btn btn-secondary" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">Voltar</a>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>