<br />
<br />
<br />
<div class="container">
	<div class="d-flex justify-content-center">
		<img src="~/images/AccessDenied.png" alt="Erro 403" />

		<div class="col-6">
			<br />
			<div class="d-flex justify-content-md-center">
				<h2>
					Acesso não Autorizado!
				</h2>
			</div>

			<div class="d-flex justify-content-md-center" style="color: #fb4124">
				<h1>
					<strong>403</strong>
				</h1>
			</div>

			<div class="text-center">
				<h4>
					Sentimos muito, mas você não tem acesso aos recursos solicitados nessa página.
				</h4>
			</div>
			<br />

			<div class="d-flex justify-content-md-center">
				<form asp-area="" asp-controller="Home" asp-action="Index">
					<button class="p-2 border-0 text-white rounded" style="background-color: #fb4124">VOLTAR A PAGINA PRINCIPAL</button>
				</form>
			</div>
		</div>
	</div>
</div>