@model FavoriteSiteViewModel

@if (Model.FavoriteSite.FavoriteUserSites.Count > 0)
{
	<a class="nav-link px-2 text-white" asp-controller="FavoriteSite" asp-action="Index">
		<img class="bi d-block mx-auto mb-1" width="24" height="24" src="~/images/Favorite.ico" />
		@Model.FavoriteSite.FavoriteUserSites.Count
	</a>
}
