@model FavoriteSiteViewModel

<link rel="stylesheet" href="~/css/header.css">

<a class="login-dropdown dropdown-item text-light" asp-controller="FavoriteSite" asp-action="Index">
	<img class="header-icons mx-auto mb-1" src="~/images/Favorite.ico" />
	Meus Favoritos (@Model.FavoriteSite.FavoriteUserSites.Count)
</a>