<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Alves & Mello</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/AlvesMello_IntraNet.styles.css" asp-append-version="true" />
</head>
<body>
	<header class="p-3 bg-dark text-white">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<a href="https://www.alvesemello.com.br" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none" style="border: solid 2px #6c757d; border-radius: 4px;">
					<img src="~/images/A&M.png" width="50" height="42" style="border-radius: 2px" />
				</a>

				<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
					<li>
						<a class="nav-link px-2 text-secondary" asp-area="" asp-controller="Home" asp-action="Index">
							<img class="bi d-block mx-auto mb-1" width="24" height="24" src="~/images/Home.png" />
							Home
						</a>
					</li>
					@if (User.IsInRole("Admin"))
					{
						<li>
							<a class="nav-link px-2 text-white" asp-area="Admin" asp-controller="Admin" asp-action="Index">
								<img class="bi d-block mx-auto mb-1" width="24" height="24" src="~/images/Administration.png" />
								Admin
							</a>
						</li>
					}
					<li>
						@await Component.InvokeAsync("CategoryMenu")
					</li>
					<li>
						<a class="nav-link px-2 text-white" asp-area="" asp-controller="Contact" asp-action="Index">
							<img class="bi d-block mx-auto mb-1" width="24" height="24" src="~/images/SendEmail.png" />
							Contato
						</a>
					</li>
				</ul>

				<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" asp-controller="Site" asp-action="Search" method="get">
					<input type="search" class="form-control form-control-dark" placeholder="Procurar Site" name="searchString" value="@ViewData["searchString"]" aria-label="Search">
				</form>

				@await Html.PartialAsync("_LoginPartial")
			</div>
		</div>
	</header>
	<br />

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; Alves & Mello - IntraNet - 2022
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
