@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> _userManager

<link rel="stylesheet" href="~/css/header.css">

@if (SignInManager.IsSignedIn(User))
{
	var user = _userManager.FindByNameAsync(User.Identity.Name);

	<div class="dropdown text-end">
		<a class="d-block link-light text-decoration-none dropdown-menu-start dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">
			<img class="profile-picture rounded-circle" src="@user.Result.Photo" alt="mdo">
		</a>
		<ul class="dropdown-menu text-small" aria-labelledby="dropdownUser" style="background-color: rgba(112, 0, 4, 1)">
			<li class="text-center"><div class="fs-5 text-break text-white p-1 pt-0 align-middle">@user.Result.FullName</div></li>

			<li><hr class="dropdown-divider text-light"></li>

			<li>@await Component.InvokeAsync("FavoriteSiteSummary")</li>

			<li>
				<a class="login-dropdown dropdown-item text-light" asp-controller="" asp-action="">
					<img class="mx-auto mb-1" width="24" height="24" src="~/images/Configuration.png" />
					Configurações
				</a>
			</li>

			<li>
				<a class="login-dropdown dropdown-item text-light" asp-controller="Profile" asp-action="Index">
					<img class="mx-auto mb-1" width="24" height="24" src="~/images/Profile.png" />
					Perfil
				</a>
			</li>

			<li><hr class="dropdown-divider text-light"></li>

			<li>
				<form class="login-dropdown dropdown-item text-light d-flex align-items-center" asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post">
					<img class="mx-auto mb-1" width="24" height="24" src="~/images/Logout.png" />
					<button class="login-dropdown dropdown-item text-light" type="submit">Sair</button>
				</form>
			</li>
		</ul>
	</div>
}
else
{
	<div>
		<a type="button" class="btn btn-outline-light me-2" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@string.Format("{0}{1}", Context.Request.Path, Context.Request.QueryString)">Entrar</a>
		<a type="button" class="btn btn-warning" asp-controller="Account" asp-action="Register">Cadastrar-se</a>
	</div>
}