<br />
<img src="~/images/AdministrationArea.png" alt="Area de Administração"/>
<div class="container">
	<div class="jumbotron">
		<p>
			<h2>
				Area de Administrador
			</h2>
		</p>
	</div>
	<a asp-area="" asp-controller="Home" asp-action="Index">Voltar a Pagina Principal</a>
</div>
