<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Alves & Mello</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/AlvesMello_IntraNet.styles.css" asp-append-version="true" />
</head>
<body>
	<header class="p-3 bg-dark text-white">
		<div class="container">
			<div class="d-flex justify-content-between">
				<div class="d-flex align-items-center">
					<div>
						<a href="https://www.alvesemello.com.br" class="d-flex my-2 my-lg-0 text-decoration-none" style="border: solid 2px #6c757d; border-radius: 4px;">
							<img class="logo-image" src="~/images/A&M.png" />
						</a>
					</div>

					<ul class="nav col-12 col-lg-auto text-small">
						<li>
							<a class="nav-link px-2 text-secondary" asp-area="" asp-controller="Home" asp-action="Index">
								<img class="header-icons bi d-block mx-auto mb-1" src="~/images/Home.png" />
								Home
							</a>
						</li>
						<li>
							<a class="nav-link px-2 text-white" asp-area="Admin" asp-controller="AdminDepartments" asp-action="Index">
								<img class="header-icons bi d-block mx-auto mb-1" src="~/images/Categories.png" />
								Departamentos
							</a>
						</li>
						<li>
							<a class="nav-link px-2 text-white" asp-area="Admin" asp-controller="AdminSites" asp-action="Index">
								<img class="header-icons bi d-block mx-auto mb-1" src="~/images/Sites.png" />
								Sites
							</a>
						</li>
						<li>
							<a class="nav-link px-2 text-white" asp-area="Admin" asp-controller="AdminImages" asp-action="Index">
								<img class="header-icons bi d-block mx-auto mb-1" src="~/images/Images.png" />
								Imagens
							</a>
						</li>
					</ul>
				</div>

				<div class="d-flex align-items-center">
					<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" asp-controller="Site" asp-action="Search" method="get">
						<input type="search" class="form-control form-control-dark" placeholder="Procurar Site" name="searchString" value="@ViewData["searchString"]" aria-label="Search">
					</form>

					@await Html.PartialAsync("_LoginPartial")
				</div>
			</div>
		</div>
	</header>
	<br />

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted bg-dark">
		<div class="container">
			&copy; Alves & Mello - IntraNet - 2022
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
