@{
	ViewData["Title"] = "UploadFiles";
}

<image src="" widht="200" height="150"/>
<hr />

<div class="jumbotron jumbotron-fluid">
	<div class="container">
		@if (ViewData["Erro"] != null)
		{
			<image src="" widht="150" height="150"/>
			<h4>@ViewData["Erro"]</h4>
		}
	</div>

	<div class="container">
		@if (ViewData["Result"] != null)
		{
			<h4>@ViewData["Result"]</h4>
			<hr />

			@if (ViewBag.Files != null)
			{
				@foreach (string file in ViewBag.Files)
				{
					<div>
						@file
					</div>
				}
			}
		}
	</div>
</div>