<div class="container">
	<img src="~/images/TalkWithUs.png" alt="Fale conosco" style="width: 100%" />
	<div class="jumbotron" style="align-content: center">
		<h3>Queremos ouvir o que você tem a dizer</h3>
		<p>
			Se você tiver alguma dúvida ou sugestão fale conosco
		</p>
		<p>
			<div style="display: flex">
				<img src="~/images/Email.png" style="padding-right: 5px" />
				<h5><email email="joaog@alvesmello.com.br" content="Enviar um e-mail"></email></h5>
			</div>
			<br />

			<div style="display: flex">
				<img src="~/images/Phone.png" style="padding-right: 5px" />
				<h5>Ramal 47 | (15) 99826-2909</h5>
			</div>
			<br />

			<img src="~/images/Address.png" style="padding-right: 5px" />
			R. Antônio Soares, 265 - Jardim Paulistano, Sorocaba - SP, 18040-570
		</p>
	</div>
</div>
